:root {
  --header-footer-color: rgb(30, 96, 145);
  --past-color: rgb(247, 101, 115);
  --present-color: rgb(157, 180, 192);
  --future-color: rgb(18, 132, 194);
}

* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
  text-transform: capitalize;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.header-container {
    min-height: 10rem;
}
.day-date {
  font-size: large;
}
.main {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-group {
  display: flex;
  flex-direction: column;
  width: 60rem;
  margin: 2rem 0;
}

.past-time {
  background-color: var(--past-color);
}
.present-time {
  background-color: var(--present-color);
}
.future-time {
  background-color: var(--future-color);
}
.time-slot {
  border: none;
  padding: 2rem;
  width: 95%;
}
.footer {
   
    width: 100%;
}
